[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = {version = ">3.0,<4.0", extras = ["tf-cpu", "torch"]}
sanic = "*"

[dev-packages]

[requires]
python_version = "3.7"
